body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://wallpaperbat.com/img/414642-wallpaper-scene-chairs-curtain-the-audience-theatre-image.jpg');
}

h1 {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: rgb(255, 255, 255);
    transition: all 0.5s ;
}

h1:hover {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: rgb(0, 21, 255);
    transition: all 0.5s ;
}


#soundboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.button {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
